.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.edit {
    background-color: #ffcc00;
    color: #222;
    padding: 10px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    width: 100px;
}

.edit:hover {
    background-color: #ffdb4d;
}

.delete {
    background-color: #ff4444;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    width: 100px;
    margin-top: 10px;
}

.delete:hover {
    background-color: #ff6666;
}
