/* DarkThemeSelect.module.css */
.control {
    background-color: #333;
    border-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.control:hover {
    border-color: #777;
}

.menu {
    background-color: #444;
    color: #fff;
    border-radius: 4px;
}

.option {
    background-color: #444;
    color: #fff;
}

.option.selected {
    background-color: #555;
}

.option:hover {
    background-color: #666;
}

.singleValue {
    color: #fff;
}

.placeholder {
    color: #aaa;
}
