/* Global Theme */
:root {
    --bg-primary: #121212;
    --bg-secondary: #1e1e1e;
    --text-primary: #eee;
    --text-secondary: #bbb;
    --accent: #ffcc00;
}

/* Global Body & Default Elements */
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'DM Sans', sans-serif;
}

/* Global Link Styles */
a {
    color: var(--text-secondary);
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: var(--accent);
}

/* Dark Mode Scrollbar */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}
*::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}
*::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}
